#intro-wrapper {
  margin: auto;
  margin-top: 15px;
}

#intro-name {
  font-family: "Abel";
  font-size: 3rem;
  margin-bottom: 0px;
}

#intro-occupation {
  font-family: "Abel";
  font-size: 1.9rem;
  margin-bottom: 0px;
}

#intro-academic-title {
  font-family: "Abel";
  font-size: 1.5rem;
}
