#segment-title-wrapper {
    margin-bottom: 15px;
}

#segment-title {
    font-family: "Abel";
    font-size: 2.5rem;
}

#segment-title-underline {
    width: 40%;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 25px;
}